@model WebMVC.Models.Cake

    <div>
        <img class="esh-catalog-thumbnail" src="@Model.PictureUrl" />
        <div class="esh-catalog-name">
            <span>@Model.Title</span>
        </div>
    </div>